HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### dev files
downloaded_seed*
encrypted_seed*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
### Secrets
src/resources/anchor.json
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
### Source
src/main/resources/
src/main/resources/static/
src/main/resources/templates/

.env
.firebaserc
firebase.json
src/main/.DS_Store
src/main/generated/
